.loading-skeleton {
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.3rem;
}

.connector {
  width: 2px;
  background-color: #f0f0f0;
}

.connector.vertical {
  height: 4rem;
}

.connector.horizontal {
  width: 4rem;
  height: 2px;
}

.line {
  height: 1rem;
  width: 8rem;
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  animation: pulse 1.5s ease-in-out infinite;
}

.line:last-child {
  margin-bottom: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}